__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
.tox
.coverage
.cache
.git
.gitignore
.mypy_cache
.pytest_cache
.env
.vscode
.idea
uploads/faces/*
!uploads/faces/.gitkeep
*.md
tests/
alembic/versions/*.py
